@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
.main-content {
    max-width: 1520px;
    display: flex;
    flex-direction: column;
    margin: 0px auto;
}

.content-column {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
    padding-left: 150px;
    padding-right: 150px;
    align-items: center;
}

.sign-in-title {
    color: black;
    font-family: Inter;
    font-size: 48px;
    font-weight: 400;
    /* margin-top: 300px; */
    /* margin-left: 50px; */
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 420px;
    height: auto;
    border-width: 2px;
    border-style: solid;
    background-color: white;
    border-color:rgb(150, 150, 150);
    border-radius: 5px;
    padding: 15px;
}

p.label {
    text-decoration: none;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

p.label-2 {
    margin-top: 15px;
    text-decoration: none;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.login-form__input {
    background-color: white;
    border: 1px solid;
    border-color: #7e7e7e;
    border-radius: 5px;
    margin-top: 5px;
    height: 60px;
    /* width: 440px; */
    color: black;
    font-size: 24px;
    font-family: Inter;
    font-weight: 400;
    padding-left: 10px;
}

.login-form__log-in {
    cursor: pointer;
    background-color: #30C018;;
    border: none;
    border-radius: 10px;
    margin-top: 30px;
    /* margin-left: 25px; */
    align-self: center;
    height: 60px;
    width: 400px;
    color: white;
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
}

.login-form__log-in:hover {
    color: black;
}



a.link {
    color: #384CFF;
    font-family: Inter;
    font-size: 16px;
    font-weight: normal;
    margin-left: 10px;
}

p.text {
    align-self: center;
    margin-top: 10px;
    color: black;
    font-family: Inter;
    font-size: 16px;
    font-weight: normal;
}

.login-form__error {
    color: #ff0000;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    align-self: center;
}

    .login-form__error ul {
        list-style-type: none;
    }